{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "CovidAPI",
    "description": "\n# Introduction\nThis project builds upon the dataset of [John Hopkins University](https://github.com/CSSEGISandData/COVID-19) in CSV form which was converted to JSON Time Series format by [pomber](https://github.com/pomber/covid19).\n\nOur project intends to make that set queryable in a manner in which it could be easily consumed to build public dashboards. \n\n[Github Repo](https://github.com/backtrackbaba/covid-api)\n\n**The API's are hosted on https://covidapi.info**\n\n\n# Overview\nAnalyzing the dataset, here are the major points that we came across.\n\nThe API's have been mapped to use ISO 3166 standard to query countries instead of names as in the source datasets built upon as it wasn't in a standard format.\n\nThe API's consume & return dates as per ISO 8601 standards in `yyyy-mm-dd` format  The dates have been normalized from the underlying dataset by padding single digits in the date and month section.\n\n# Authentication\nThere's no authentication required. Anybody and everybody is welcome to use this widely.\n\n# Rate limit\nThere is no rate limit of any kind but we hope that you use it in a sensible manner and whenever possible cache response for a few hours as the underlying API's are updated thrice a day.\n\n# Updation\nThe datasets are updated thrice a day. As of now, we manually trigger the updation of our API's as we don't have any downstream notification's sent on updation. We are also working on having a notification mechanism in place to support all the consumers of the API. PR's are always welcome!\n\n\n# Documentation\nPostman collection has been created along with documentation for you to get started with this project. Docs can be found [here](https://web.postman.co)\n\n\n# Sources\n\n[Novel Coronavirus (COVID-19) Cases, provided by JHU CSSE](https://github.com/CSSEGISandData/COVID-19)\n\n[JSON time-series of coronavirus cases (confirmed, deaths and recovered) per country - updated daily ](https://github.com/pomber/covid19)\n\n# Contributions\n\nSaiprasad Balasubramanian - [LinkedIn](https://www.linkedin.com/in/saiprasadbala/) - [Github](https://github.com/backtrackbaba)\n\nHarsh Jain - [LinkedIn](https://www.linkedin.com/in/hrkj-18/)\n\nGirisha Navani - [LinkedIn](https://www.linkedin.com/in/girisha-navani-87065215b/)\n\n# Contributing\nContributions are always welcome and encouraged!! This code was whipped out in a very shot span of time for a friend to query on it. There's some refactoring to be done to remove any hacks and build on in a good manner. Ideas are always welcome  \n\n# Roadmap\nThere's a roadmap in mind to build up more endpoints. As of now there are just 5 endpoints which with plans to add more. It's currently in my mind. I'll put it out here in the Kanban board as link it with the Issues.\n\n# License\nMIT Licensed\n",
    "contact": {}
  },
  "host": "covidapi.info",
  "basePath": "/api/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/country/IND": {
      "get": {
        "description": "The country names are as per ISO 3166 standards.\nExample:\n\nIndia - IND\n\nUnited States of America - USA\n\nCzech Republic - CZE\n\n[List of all the ISO codes](https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes)",
        "summary": "Country specific historic data",
        "operationId": "Countryspecifichistoricdata",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Countryspecifichistoricdata"
            },
            "examples": {
              "application/json": {
                "count": 59,
                "result": {
                  "2020-01-22": {
                    "confirmed": 0,
                    "deaths": 0,
                    "recovered": 0
                  },
                  "2020-01-23": {
                    "confirmed": 0,
                    "deaths": 0,
                    "recovered": 0
                  },
                  "2020-01-24": {
                    "confirmed": 0,
                    "deaths": 0,
                    "recovered": 0
                  },
                  "2020-01-25": {
                    "confirmed": 0,
                    "deaths": 0,
                    "recovered": 0
                  },
                  "2020-01-26": {
                    "confirmed": 0,
                    "deaths": 0,
                    "recovered": 0
                  },
                  "2020-01-27": {
                    "confirmed": 0,
                    "deaths": 0,
                    "recovered": 0
                  },
                  "2020-01-28": {
                    "confirmed": 0,
                    "deaths": 0,
                    "recovered": 0
                  },
                  "2020-01-29": {
                    "confirmed": 0,
                    "deaths": 0,
                    "recovered": 0
                  },
                  "2020-01-30": {
                    "confirmed": 1,
                    "deaths": 0,
                    "recovered": 0
                  },
                  "2020-01-31": {
                    "confirmed": 1,
                    "deaths": 0,
                    "recovered": 0
                  },
                  "2020-02-01": {
                    "confirmed": 1,
                    "deaths": 0,
                    "recovered": 0
                  },
                  "2020-02-02": {
                    "confirmed": 2,
                    "deaths": 0,
                    "recovered": 0
                  },
                  "2020-02-03": {
                    "confirmed": 3,
                    "deaths": 0,
                    "recovered": 0
                  },
                  "2020-02-04": {
                    "confirmed": 3,
                    "deaths": 0,
                    "recovered": 0
                  },
                  "2020-02-05": {
                    "confirmed": 3,
                    "deaths": 0,
                    "recovered": 0
                  },
                  "2020-02-06": {
                    "confirmed": 3,
                    "deaths": 0,
                    "recovered": 0
                  },
                  "2020-02-07": {
                    "confirmed": 3,
                    "deaths": 0,
                    "recovered": 0
                  },
                  "2020-02-08": {
                    "confirmed": 3,
                    "deaths": 0,
                    "recovered": 0
                  },
                  "2020-02-09": {
                    "confirmed": 3,
                    "deaths": 0,
                    "recovered": 0
                  },
                  "2020-02-10": {
                    "confirmed": 3,
                    "deaths": 0,
                    "recovered": 0
                  },
                  "2020-02-11": {
                    "confirmed": 3,
                    "deaths": 0,
                    "recovered": 0
                  },
                  "2020-02-12": {
                    "confirmed": 3,
                    "deaths": 0,
                    "recovered": 0
                  },
                  "2020-02-13": {
                    "confirmed": 3,
                    "deaths": 0,
                    "recovered": 0
                  },
                  "2020-02-14": {
                    "confirmed": 3,
                    "deaths": 0,
                    "recovered": 0
                  },
                  "2020-02-15": {
                    "confirmed": 3,
                    "deaths": 0,
                    "recovered": 0
                  },
                  "2020-02-16": {
                    "confirmed": 3,
                    "deaths": 0,
                    "recovered": 3
                  },
                  "2020-02-17": {
                    "confirmed": 3,
                    "deaths": 0,
                    "recovered": 3
                  },
                  "2020-02-18": {
                    "confirmed": 3,
                    "deaths": 0,
                    "recovered": 3
                  },
                  "2020-02-19": {
                    "confirmed": 3,
                    "deaths": 0,
                    "recovered": 3
                  },
                  "2020-02-20": {
                    "confirmed": 3,
                    "deaths": 0,
                    "recovered": 3
                  },
                  "2020-02-21": {
                    "confirmed": 3,
                    "deaths": 0,
                    "recovered": 3
                  },
                  "2020-02-22": {
                    "confirmed": 3,
                    "deaths": 0,
                    "recovered": 3
                  },
                  "2020-02-23": {
                    "confirmed": 3,
                    "deaths": 0,
                    "recovered": 3
                  },
                  "2020-02-24": {
                    "confirmed": 3,
                    "deaths": 0,
                    "recovered": 3
                  },
                  "2020-02-25": {
                    "confirmed": 3,
                    "deaths": 0,
                    "recovered": 3
                  },
                  "2020-02-26": {
                    "confirmed": 3,
                    "deaths": 0,
                    "recovered": 3
                  },
                  "2020-02-27": {
                    "confirmed": 3,
                    "deaths": 0,
                    "recovered": 3
                  },
                  "2020-02-28": {
                    "confirmed": 3,
                    "deaths": 0,
                    "recovered": 3
                  },
                  "2020-02-29": {
                    "confirmed": 3,
                    "deaths": 0,
                    "recovered": 3
                  },
                  "2020-03-01": {
                    "confirmed": 3,
                    "deaths": 0,
                    "recovered": 3
                  },
                  "2020-03-02": {
                    "confirmed": 5,
                    "deaths": 0,
                    "recovered": 3
                  },
                  "2020-03-03": {
                    "confirmed": 5,
                    "deaths": 0,
                    "recovered": 3
                  },
                  "2020-03-04": {
                    "confirmed": 28,
                    "deaths": 0,
                    "recovered": 3
                  },
                  "2020-03-05": {
                    "confirmed": 30,
                    "deaths": 0,
                    "recovered": 3
                  },
                  "2020-03-06": {
                    "confirmed": 31,
                    "deaths": 0,
                    "recovered": 3
                  },
                  "2020-03-07": {
                    "confirmed": 34,
                    "deaths": 0,
                    "recovered": 3
                  },
                  "2020-03-08": {
                    "confirmed": 39,
                    "deaths": 0,
                    "recovered": 3
                  },
                  "2020-03-09": {
                    "confirmed": 43,
                    "deaths": 0,
                    "recovered": 3
                  },
                  "2020-03-10": {
                    "confirmed": 56,
                    "deaths": 0,
                    "recovered": 4
                  },
                  "2020-03-11": {
                    "confirmed": 62,
                    "deaths": 1,
                    "recovered": 4
                  },
                  "2020-03-12": {
                    "confirmed": 73,
                    "deaths": 1,
                    "recovered": 4
                  },
                  "2020-03-13": {
                    "confirmed": 82,
                    "deaths": 2,
                    "recovered": 4
                  },
                  "2020-03-14": {
                    "confirmed": 102,
                    "deaths": 2,
                    "recovered": 4
                  },
                  "2020-03-15": {
                    "confirmed": 113,
                    "deaths": 2,
                    "recovered": 13
                  },
                  "2020-03-16": {
                    "confirmed": 119,
                    "deaths": 2,
                    "recovered": 13
                  },
                  "2020-03-17": {
                    "confirmed": 142,
                    "deaths": 3,
                    "recovered": 14
                  },
                  "2020-03-18": {
                    "confirmed": 156,
                    "deaths": 3,
                    "recovered": 14
                  },
                  "2020-03-19": {
                    "confirmed": 194,
                    "deaths": 4,
                    "recovered": 15
                  },
                  "2020-03-20": {
                    "confirmed": 244,
                    "deaths": 5,
                    "recovered": 20
                  }
                }
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/country/IND/2020-03-15": {
      "get": {
        "description": "The country names are as per ISO 3166 standards and the dates as per ISO 8601 standards in the `yyyy-mm-dd` format.",
        "summary": "Country specific data for a particular date",
        "operationId": "Countryspecificdataforaparticulardate",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Countryspecificdataforaparticulardate"
            },
            "examples": {
              "application/json": {
                "count": 1,
                "result": {
                  "2020-03-15": {
                    "confirmed": 113,
                    "deaths": 2,
                    "recovered": 13
                  }
                }
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/global": {
      "get": {
        "description": "Global count as of last update",
        "summary": "Latest Global Count",
        "operationId": "LatestGlobalCount",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/LatestGlobalCount"
            },
            "examples": {
              "application/json": {
                "count": 1,
                "date": "Sat, 21 Mar 2020 00:00:00 GMT",
                "result": {
                  "confirmed": 304524,
                  "deaths": 12973,
                  "recovered": 91499
                }
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/global/2020-03-15": {
      "get": {
        "description": "Global count on any day between 22nd January 2020 and last updated date",
        "summary": "Global count on  a particular date",
        "operationId": "Globalcountonaparticulardate",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Globalcountonaparticulardate"
            },
            "examples": {
              "application/json": {
                "count": 1,
                "date": "2020-03-15",
                "result": {
                  "confirmed": 167446,
                  "deaths": 6440,
                  "recovered": 76034
                }
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/global/2020-03-10/2020-03-15": {
      "get": {
        "description": "Global Count between any range of date between 22nd January 2020 and the last updated date",
        "summary": "Global count in a date range",
        "operationId": "Globalcountinadaterange",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Globalcountinadaterange"
            },
            "examples": {
              "application/json": {
                "count": 1,
                "from_date": "2020-03-10",
                "result": {
                  "confirmed": 48854,
                  "deaths": 2178,
                  "recovered": 11630
                },
                "to_date": "2020-03-15"
              }
            },
            "headers": {}
          }
        }
      }
    },
    "/global/timeseries/2020-03-10/2020-03-19": {
      "get": {
        "description": "Global data for every country sliced as per the date range selected",
        "summary": "Global Timeseries data in date range",
        "operationId": "GlobalTimeseriesdataindaterange",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GlobalTimeseriesdataindaterange"
            },
            "examples": {
              "application/json": {
                "count": 171,
                "result": {
                  "AFG": [
                    {
                      "confirmed": 5,
                      "date": "2020-03-10",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 7,
                      "date": "2020-03-11",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 7,
                      "date": "2020-03-12",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 7,
                      "date": "2020-03-13",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 11,
                      "date": "2020-03-14",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 16,
                      "date": "2020-03-15",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 21,
                      "date": "2020-03-16",
                      "deaths": 0,
                      "recovered": 1
                    },
                    {
                      "confirmed": 22,
                      "date": "2020-03-17",
                      "deaths": 0,
                      "recovered": 1
                    },
                    {
                      "confirmed": 22,
                      "date": "2020-03-18",
                      "deaths": 0,
                      "recovered": 1
                    }
                  ],
                  "AGO": [
                    {
                      "confirmed": 0,
                      "date": "2020-03-10",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-11",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-12",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-13",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-14",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-15",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-16",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-17",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-18",
                      "deaths": 0,
                      "recovered": 0
                    }
                  ],
                  "ALB": [
                    {
                      "confirmed": 10,
                      "date": "2020-03-10",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 12,
                      "date": "2020-03-11",
                      "deaths": 1,
                      "recovered": 0
                    },
                    {
                      "confirmed": 23,
                      "date": "2020-03-12",
                      "deaths": 1,
                      "recovered": 0
                    },
                    {
                      "confirmed": 33,
                      "date": "2020-03-13",
                      "deaths": 1,
                      "recovered": 0
                    },
                    {
                      "confirmed": 38,
                      "date": "2020-03-14",
                      "deaths": 1,
                      "recovered": 0
                    },
                    {
                      "confirmed": 42,
                      "date": "2020-03-15",
                      "deaths": 1,
                      "recovered": 0
                    },
                    {
                      "confirmed": 51,
                      "date": "2020-03-16",
                      "deaths": 1,
                      "recovered": 0
                    },
                    {
                      "confirmed": 55,
                      "date": "2020-03-17",
                      "deaths": 1,
                      "recovered": 0
                    },
                    {
                      "confirmed": 59,
                      "date": "2020-03-18",
                      "deaths": 2,
                      "recovered": 0
                    }
                  ],
                  "AND": [
                    {
                      "confirmed": 1,
                      "date": "2020-03-10",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-11",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-12",
                      "deaths": 0,
                      "recovered": 1
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-13",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-14",
                      "deaths": 0,
                      "recovered": 1
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-15",
                      "deaths": 0,
                      "recovered": 1
                    },
                    {
                      "confirmed": 2,
                      "date": "2020-03-16",
                      "deaths": 0,
                      "recovered": 1
                    },
                    {
                      "confirmed": 39,
                      "date": "2020-03-17",
                      "deaths": 0,
                      "recovered": 1
                    },
                    {
                      "confirmed": 39,
                      "date": "2020-03-18",
                      "deaths": 0,
                      "recovered": 1
                    }
                  ],
                  "ARE": [
                    {
                      "confirmed": 74,
                      "date": "2020-03-10",
                      "deaths": 0,
                      "recovered": 12
                    },
                    {
                      "confirmed": 74,
                      "date": "2020-03-11",
                      "deaths": 0,
                      "recovered": 17
                    },
                    {
                      "confirmed": 85,
                      "date": "2020-03-12",
                      "deaths": 0,
                      "recovered": 17
                    },
                    {
                      "confirmed": 85,
                      "date": "2020-03-13",
                      "deaths": 0,
                      "recovered": 17
                    },
                    {
                      "confirmed": 85,
                      "date": "2020-03-14",
                      "deaths": 0,
                      "recovered": 17
                    },
                    {
                      "confirmed": 98,
                      "date": "2020-03-15",
                      "deaths": 0,
                      "recovered": 23
                    },
                    {
                      "confirmed": 98,
                      "date": "2020-03-16",
                      "deaths": 0,
                      "recovered": 23
                    },
                    {
                      "confirmed": 98,
                      "date": "2020-03-17",
                      "deaths": 0,
                      "recovered": 23
                    },
                    {
                      "confirmed": 113,
                      "date": "2020-03-18",
                      "deaths": 0,
                      "recovered": 26
                    }
                  ],
                  "ARG": [
                    {
                      "confirmed": 17,
                      "date": "2020-03-10",
                      "deaths": 1,
                      "recovered": 0
                    },
                    {
                      "confirmed": 19,
                      "date": "2020-03-11",
                      "deaths": 1,
                      "recovered": 0
                    },
                    {
                      "confirmed": 19,
                      "date": "2020-03-12",
                      "deaths": 1,
                      "recovered": 0
                    },
                    {
                      "confirmed": 31,
                      "date": "2020-03-13",
                      "deaths": 2,
                      "recovered": 0
                    },
                    {
                      "confirmed": 34,
                      "date": "2020-03-14",
                      "deaths": 2,
                      "recovered": 1
                    },
                    {
                      "confirmed": 45,
                      "date": "2020-03-15",
                      "deaths": 2,
                      "recovered": 1
                    },
                    {
                      "confirmed": 56,
                      "date": "2020-03-16",
                      "deaths": 2,
                      "recovered": 1
                    },
                    {
                      "confirmed": 68,
                      "date": "2020-03-17",
                      "deaths": 2,
                      "recovered": 3
                    },
                    {
                      "confirmed": 79,
                      "date": "2020-03-18",
                      "deaths": 2,
                      "recovered": 3
                    }
                  ],
                  "ARM": [
                    {
                      "confirmed": 1,
                      "date": "2020-03-10",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-11",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 4,
                      "date": "2020-03-12",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 8,
                      "date": "2020-03-13",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 18,
                      "date": "2020-03-14",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 26,
                      "date": "2020-03-15",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 52,
                      "date": "2020-03-16",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 78,
                      "date": "2020-03-17",
                      "deaths": 0,
                      "recovered": 1
                    },
                    {
                      "confirmed": 84,
                      "date": "2020-03-18",
                      "deaths": 0,
                      "recovered": 1
                    }
                  ],
                  "ATG": [
                    {
                      "confirmed": 0,
                      "date": "2020-03-10",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-11",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-12",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-13",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-14",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-15",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-16",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-17",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-18",
                      "deaths": 0,
                      "recovered": 0
                    }
                  ],
                  "AUS": [
                    {
                      "confirmed": 107,
                      "date": "2020-03-10",
                      "deaths": 3,
                      "recovered": 21
                    },
                    {
                      "confirmed": 128,
                      "date": "2020-03-11",
                      "deaths": 3,
                      "recovered": 21
                    },
                    {
                      "confirmed": 128,
                      "date": "2020-03-12",
                      "deaths": 3,
                      "recovered": 21
                    },
                    {
                      "confirmed": 200,
                      "date": "2020-03-13",
                      "deaths": 3,
                      "recovered": 23
                    },
                    {
                      "confirmed": 250,
                      "date": "2020-03-14",
                      "deaths": 3,
                      "recovered": 23
                    },
                    {
                      "confirmed": 297,
                      "date": "2020-03-15",
                      "deaths": 3,
                      "recovered": 23
                    },
                    {
                      "confirmed": 377,
                      "date": "2020-03-16",
                      "deaths": 3,
                      "recovered": 23
                    },
                    {
                      "confirmed": 452,
                      "date": "2020-03-17",
                      "deaths": 5,
                      "recovered": 23
                    },
                    {
                      "confirmed": 568,
                      "date": "2020-03-18",
                      "deaths": 6,
                      "recovered": 23
                    }
                  ],
                  "AUT": [
                    {
                      "confirmed": 182,
                      "date": "2020-03-10",
                      "deaths": 0,
                      "recovered": 4
                    },
                    {
                      "confirmed": 246,
                      "date": "2020-03-11",
                      "deaths": 0,
                      "recovered": 4
                    },
                    {
                      "confirmed": 302,
                      "date": "2020-03-12",
                      "deaths": 1,
                      "recovered": 4
                    },
                    {
                      "confirmed": 504,
                      "date": "2020-03-13",
                      "deaths": 1,
                      "recovered": 6
                    },
                    {
                      "confirmed": 655,
                      "date": "2020-03-14",
                      "deaths": 1,
                      "recovered": 6
                    },
                    {
                      "confirmed": 860,
                      "date": "2020-03-15",
                      "deaths": 1,
                      "recovered": 6
                    },
                    {
                      "confirmed": 1018,
                      "date": "2020-03-16",
                      "deaths": 3,
                      "recovered": 6
                    },
                    {
                      "confirmed": 1332,
                      "date": "2020-03-17",
                      "deaths": 3,
                      "recovered": 1
                    },
                    {
                      "confirmed": 1646,
                      "date": "2020-03-18",
                      "deaths": 4,
                      "recovered": 9
                    }
                  ],
                  "AZE": [
                    {
                      "confirmed": 11,
                      "date": "2020-03-10",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 11,
                      "date": "2020-03-11",
                      "deaths": 0,
                      "recovered": 3
                    },
                    {
                      "confirmed": 11,
                      "date": "2020-03-12",
                      "deaths": 0,
                      "recovered": 3
                    },
                    {
                      "confirmed": 15,
                      "date": "2020-03-13",
                      "deaths": 1,
                      "recovered": 3
                    },
                    {
                      "confirmed": 15,
                      "date": "2020-03-14",
                      "deaths": 1,
                      "recovered": 3
                    },
                    {
                      "confirmed": 23,
                      "date": "2020-03-15",
                      "deaths": 1,
                      "recovered": 6
                    },
                    {
                      "confirmed": 15,
                      "date": "2020-03-16",
                      "deaths": 1,
                      "recovered": 6
                    },
                    {
                      "confirmed": 28,
                      "date": "2020-03-17",
                      "deaths": 1,
                      "recovered": 6
                    },
                    {
                      "confirmed": 28,
                      "date": "2020-03-18",
                      "deaths": 1,
                      "recovered": 6
                    }
                  ],
                  "BEL": [
                    {
                      "confirmed": 267,
                      "date": "2020-03-10",
                      "deaths": 0,
                      "recovered": 1
                    },
                    {
                      "confirmed": 314,
                      "date": "2020-03-11",
                      "deaths": 3,
                      "recovered": 1
                    },
                    {
                      "confirmed": 314,
                      "date": "2020-03-12",
                      "deaths": 3,
                      "recovered": 1
                    },
                    {
                      "confirmed": 559,
                      "date": "2020-03-13",
                      "deaths": 3,
                      "recovered": 1
                    },
                    {
                      "confirmed": 689,
                      "date": "2020-03-14",
                      "deaths": 4,
                      "recovered": 1
                    },
                    {
                      "confirmed": 886,
                      "date": "2020-03-15",
                      "deaths": 4,
                      "recovered": 1
                    },
                    {
                      "confirmed": 1058,
                      "date": "2020-03-16",
                      "deaths": 5,
                      "recovered": 1
                    },
                    {
                      "confirmed": 1243,
                      "date": "2020-03-17",
                      "deaths": 10,
                      "recovered": 1
                    },
                    {
                      "confirmed": 1486,
                      "date": "2020-03-18",
                      "deaths": 14,
                      "recovered": 31
                    }
                  ],
                  "BEN": [
                    {
                      "confirmed": 0,
                      "date": "2020-03-10",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-11",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-12",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-13",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-14",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-15",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-16",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-17",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 2,
                      "date": "2020-03-18",
                      "deaths": 0,
                      "recovered": 0
                    }
                  ],
                  "BFA": [
                    {
                      "confirmed": 1,
                      "date": "2020-03-10",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 2,
                      "date": "2020-03-11",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 2,
                      "date": "2020-03-12",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 2,
                      "date": "2020-03-13",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 2,
                      "date": "2020-03-14",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 3,
                      "date": "2020-03-15",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 15,
                      "date": "2020-03-16",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 15,
                      "date": "2020-03-17",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 20,
                      "date": "2020-03-18",
                      "deaths": 1,
                      "recovered": 0
                    }
                  ],
                  "BGD": [
                    {
                      "confirmed": 3,
                      "date": "2020-03-10",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 3,
                      "date": "2020-03-11",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 3,
                      "date": "2020-03-12",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 3,
                      "date": "2020-03-13",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 3,
                      "date": "2020-03-14",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 5,
                      "date": "2020-03-15",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 8,
                      "date": "2020-03-16",
                      "deaths": 0,
                      "recovered": 2
                    },
                    {
                      "confirmed": 10,
                      "date": "2020-03-17",
                      "deaths": 0,
                      "recovered": 3
                    },
                    {
                      "confirmed": 14,
                      "date": "2020-03-18",
                      "deaths": 1,
                      "recovered": 3
                    }
                  ],
                  "BGR": [
                    {
                      "confirmed": 4,
                      "date": "2020-03-10",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 7,
                      "date": "2020-03-11",
                      "deaths": 1,
                      "recovered": 0
                    },
                    {
                      "confirmed": 7,
                      "date": "2020-03-12",
                      "deaths": 1,
                      "recovered": 0
                    },
                    {
                      "confirmed": 23,
                      "date": "2020-03-13",
                      "deaths": 1,
                      "recovered": 0
                    },
                    {
                      "confirmed": 41,
                      "date": "2020-03-14",
                      "deaths": 2,
                      "recovered": 0
                    },
                    {
                      "confirmed": 51,
                      "date": "2020-03-15",
                      "deaths": 2,
                      "recovered": 0
                    },
                    {
                      "confirmed": 52,
                      "date": "2020-03-16",
                      "deaths": 2,
                      "recovered": 0
                    },
                    {
                      "confirmed": 67,
                      "date": "2020-03-17",
                      "deaths": 2,
                      "recovered": 0
                    },
                    {
                      "confirmed": 92,
                      "date": "2020-03-18",
                      "deaths": 2,
                      "recovered": 0
                    }
                  ],
                  "BHR": [
                    {
                      "confirmed": 110,
                      "date": "2020-03-10",
                      "deaths": 0,
                      "recovered": 22
                    },
                    {
                      "confirmed": 195,
                      "date": "2020-03-11",
                      "deaths": 0,
                      "recovered": 35
                    },
                    {
                      "confirmed": 195,
                      "date": "2020-03-12",
                      "deaths": 0,
                      "recovered": 35
                    },
                    {
                      "confirmed": 189,
                      "date": "2020-03-13",
                      "deaths": 0,
                      "recovered": 44
                    },
                    {
                      "confirmed": 210,
                      "date": "2020-03-14",
                      "deaths": 0,
                      "recovered": 44
                    },
                    {
                      "confirmed": 214,
                      "date": "2020-03-15",
                      "deaths": 0,
                      "recovered": 60
                    },
                    {
                      "confirmed": 214,
                      "date": "2020-03-16",
                      "deaths": 1,
                      "recovered": 77
                    },
                    {
                      "confirmed": 228,
                      "date": "2020-03-17",
                      "deaths": 1,
                      "recovered": 81
                    },
                    {
                      "confirmed": 256,
                      "date": "2020-03-18",
                      "deaths": 1,
                      "recovered": 88
                    }
                  ],
                  "BHS": [
                    {
                      "confirmed": 0,
                      "date": "2020-03-10",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-11",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-12",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-13",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-14",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-15",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-16",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-17",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-18",
                      "deaths": 0,
                      "recovered": 0
                    }
                  ],
                  "BIH": [
                    {
                      "confirmed": 5,
                      "date": "2020-03-10",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 7,
                      "date": "2020-03-11",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 11,
                      "date": "2020-03-12",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 13,
                      "date": "2020-03-13",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 18,
                      "date": "2020-03-14",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 24,
                      "date": "2020-03-15",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 25,
                      "date": "2020-03-16",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 26,
                      "date": "2020-03-17",
                      "deaths": 0,
                      "recovered": 2
                    },
                    {
                      "confirmed": 38,
                      "date": "2020-03-18",
                      "deaths": 0,
                      "recovered": 2
                    }
                  ],
                  "BLR": [
                    {
                      "confirmed": 9,
                      "date": "2020-03-10",
                      "deaths": 0,
                      "recovered": 3
                    },
                    {
                      "confirmed": 9,
                      "date": "2020-03-11",
                      "deaths": 0,
                      "recovered": 3
                    },
                    {
                      "confirmed": 12,
                      "date": "2020-03-12",
                      "deaths": 0,
                      "recovered": 3
                    },
                    {
                      "confirmed": 27,
                      "date": "2020-03-13",
                      "deaths": 0,
                      "recovered": 3
                    },
                    {
                      "confirmed": 27,
                      "date": "2020-03-14",
                      "deaths": 0,
                      "recovered": 3
                    },
                    {
                      "confirmed": 27,
                      "date": "2020-03-15",
                      "deaths": 0,
                      "recovered": 3
                    },
                    {
                      "confirmed": 36,
                      "date": "2020-03-16",
                      "deaths": 0,
                      "recovered": 3
                    },
                    {
                      "confirmed": 36,
                      "date": "2020-03-17",
                      "deaths": 0,
                      "recovered": 3
                    },
                    {
                      "confirmed": 51,
                      "date": "2020-03-18",
                      "deaths": 0,
                      "recovered": 5
                    }
                  ],
                  "BOL": [
                    {
                      "confirmed": 0,
                      "date": "2020-03-10",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 2,
                      "date": "2020-03-11",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 2,
                      "date": "2020-03-12",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 3,
                      "date": "2020-03-13",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 10,
                      "date": "2020-03-14",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 10,
                      "date": "2020-03-15",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 11,
                      "date": "2020-03-16",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 11,
                      "date": "2020-03-17",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 12,
                      "date": "2020-03-18",
                      "deaths": 0,
                      "recovered": 0
                    }
                  ],
                  "BRA": [
                    {
                      "confirmed": 31,
                      "date": "2020-03-10",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 38,
                      "date": "2020-03-11",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 52,
                      "date": "2020-03-12",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 151,
                      "date": "2020-03-13",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 151,
                      "date": "2020-03-14",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 162,
                      "date": "2020-03-15",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 200,
                      "date": "2020-03-16",
                      "deaths": 0,
                      "recovered": 1
                    },
                    {
                      "confirmed": 321,
                      "date": "2020-03-17",
                      "deaths": 1,
                      "recovered": 2
                    },
                    {
                      "confirmed": 372,
                      "date": "2020-03-18",
                      "deaths": 3,
                      "recovered": 2
                    }
                  ],
                  "BRB": [
                    {
                      "confirmed": 0,
                      "date": "2020-03-10",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-11",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-12",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-13",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-14",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-15",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-16",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 2,
                      "date": "2020-03-17",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 2,
                      "date": "2020-03-18",
                      "deaths": 0,
                      "recovered": 0
                    }
                  ],
                  "BRN": [
                    {
                      "confirmed": 1,
                      "date": "2020-03-10",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 11,
                      "date": "2020-03-11",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 11,
                      "date": "2020-03-12",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 37,
                      "date": "2020-03-13",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 40,
                      "date": "2020-03-14",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 50,
                      "date": "2020-03-15",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 54,
                      "date": "2020-03-16",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 56,
                      "date": "2020-03-17",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 68,
                      "date": "2020-03-18",
                      "deaths": 0,
                      "recovered": 0
                    }
                  ],
                  "BTN": [
                    {
                      "confirmed": 1,
                      "date": "2020-03-10",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-11",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-12",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-13",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-14",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-15",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-16",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-17",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-18",
                      "deaths": 0,
                      "recovered": 0
                    }
                  ],
                  "CAF": [
                    {
                      "confirmed": 0,
                      "date": "2020-03-10",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-11",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-12",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-13",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-14",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-15",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-16",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-17",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-18",
                      "deaths": 0,
                      "recovered": 0
                    }
                  ],
                  "CAN": [
                    {
                      "confirmed": 79,
                      "date": "2020-03-10",
                      "deaths": 1,
                      "recovered": 8
                    },
                    {
                      "confirmed": 108,
                      "date": "2020-03-11",
                      "deaths": 1,
                      "recovered": 8
                    },
                    {
                      "confirmed": 117,
                      "date": "2020-03-12",
                      "deaths": 1,
                      "recovered": 8
                    },
                    {
                      "confirmed": 193,
                      "date": "2020-03-13",
                      "deaths": 1,
                      "recovered": 8
                    },
                    {
                      "confirmed": 198,
                      "date": "2020-03-14",
                      "deaths": 1,
                      "recovered": 8
                    },
                    {
                      "confirmed": 252,
                      "date": "2020-03-15",
                      "deaths": 1,
                      "recovered": 8
                    },
                    {
                      "confirmed": 415,
                      "date": "2020-03-16",
                      "deaths": 4,
                      "recovered": 9
                    },
                    {
                      "confirmed": 478,
                      "date": "2020-03-17",
                      "deaths": 5,
                      "recovered": 9
                    },
                    {
                      "confirmed": 657,
                      "date": "2020-03-18",
                      "deaths": 8,
                      "recovered": 9
                    }
                  ],
                  "CBV": [
                    {
                      "confirmed": 0,
                      "date": "2020-03-10",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-11",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-12",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-13",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-14",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-15",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-16",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-17",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-18",
                      "deaths": 0,
                      "recovered": 0
                    }
                  ],
                  "CHE": [
                    {
                      "confirmed": 491,
                      "date": "2020-03-10",
                      "deaths": 3,
                      "recovered": 3
                    },
                    {
                      "confirmed": 652,
                      "date": "2020-03-11",
                      "deaths": 4,
                      "recovered": 4
                    },
                    {
                      "confirmed": 652,
                      "date": "2020-03-12",
                      "deaths": 4,
                      "recovered": 4
                    },
                    {
                      "confirmed": 1139,
                      "date": "2020-03-13",
                      "deaths": 11,
                      "recovered": 4
                    },
                    {
                      "confirmed": 1359,
                      "date": "2020-03-14",
                      "deaths": 13,
                      "recovered": 4
                    },
                    {
                      "confirmed": 2200,
                      "date": "2020-03-15",
                      "deaths": 14,
                      "recovered": 4
                    },
                    {
                      "confirmed": 2200,
                      "date": "2020-03-16",
                      "deaths": 14,
                      "recovered": 4
                    },
                    {
                      "confirmed": 2700,
                      "date": "2020-03-17",
                      "deaths": 27,
                      "recovered": 4
                    },
                    {
                      "confirmed": 3028,
                      "date": "2020-03-18",
                      "deaths": 28,
                      "recovered": 15
                    }
                  ],
                  "CHL": [
                    {
                      "confirmed": 13,
                      "date": "2020-03-10",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 23,
                      "date": "2020-03-11",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 23,
                      "date": "2020-03-12",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 43,
                      "date": "2020-03-13",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 61,
                      "date": "2020-03-14",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 74,
                      "date": "2020-03-15",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 155,
                      "date": "2020-03-16",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 201,
                      "date": "2020-03-17",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 238,
                      "date": "2020-03-18",
                      "deaths": 0,
                      "recovered": 0
                    }
                  ],
                  "CHN": [
                    {
                      "confirmed": 80887,
                      "date": "2020-03-10",
                      "deaths": 3139,
                      "recovered": 60181
                    },
                    {
                      "confirmed": 80921,
                      "date": "2020-03-11",
                      "deaths": 3161,
                      "recovered": 61644
                    },
                    {
                      "confirmed": 80932,
                      "date": "2020-03-12",
                      "deaths": 3172,
                      "recovered": 62901
                    },
                    {
                      "confirmed": 80945,
                      "date": "2020-03-13",
                      "deaths": 3180,
                      "recovered": 64196
                    },
                    {
                      "confirmed": 80977,
                      "date": "2020-03-14",
                      "deaths": 3193,
                      "recovered": 65660
                    },
                    {
                      "confirmed": 81003,
                      "date": "2020-03-15",
                      "deaths": 3203,
                      "recovered": 67017
                    },
                    {
                      "confirmed": 81033,
                      "date": "2020-03-16",
                      "deaths": 3217,
                      "recovered": 67910
                    },
                    {
                      "confirmed": 81058,
                      "date": "2020-03-17",
                      "deaths": 3230,
                      "recovered": 68798
                    },
                    {
                      "confirmed": 81102,
                      "date": "2020-03-18",
                      "deaths": 3241,
                      "recovered": 69755
                    }
                  ],
                  "CIV": [
                    {
                      "confirmed": 0,
                      "date": "2020-03-10",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-11",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-12",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-13",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-14",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-15",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-16",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 5,
                      "date": "2020-03-17",
                      "deaths": 0,
                      "recovered": 1
                    },
                    {
                      "confirmed": 6,
                      "date": "2020-03-18",
                      "deaths": 0,
                      "recovered": 1
                    }
                  ],
                  "CMR": [
                    {
                      "confirmed": 2,
                      "date": "2020-03-10",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 2,
                      "date": "2020-03-11",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 2,
                      "date": "2020-03-12",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 2,
                      "date": "2020-03-13",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 2,
                      "date": "2020-03-14",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 2,
                      "date": "2020-03-15",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 4,
                      "date": "2020-03-16",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 10,
                      "date": "2020-03-17",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 10,
                      "date": "2020-03-18",
                      "deaths": 0,
                      "recovered": 0
                    }
                  ],
                  "COD": [
                    {
                      "confirmed": 0,
                      "date": "2020-03-10",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-11",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-12",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 2,
                      "date": "2020-03-13",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 2,
                      "date": "2020-03-14",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 2,
                      "date": "2020-03-15",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 2,
                      "date": "2020-03-16",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 3,
                      "date": "2020-03-17",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 4,
                      "date": "2020-03-18",
                      "deaths": 0,
                      "recovered": 0
                    }
                  ],
                  "COG": [
                    {
                      "confirmed": 0,
                      "date": "2020-03-10",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-11",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-12",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-13",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-14",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-15",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-16",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-17",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-18",
                      "deaths": 0,
                      "recovered": 0
                    }
                  ],
                  "COL": [
                    {
                      "confirmed": 3,
                      "date": "2020-03-10",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 9,
                      "date": "2020-03-11",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 9,
                      "date": "2020-03-12",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 13,
                      "date": "2020-03-13",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 22,
                      "date": "2020-03-14",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 34,
                      "date": "2020-03-15",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 54,
                      "date": "2020-03-16",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 65,
                      "date": "2020-03-17",
                      "deaths": 0,
                      "recovered": 1
                    },
                    {
                      "confirmed": 93,
                      "date": "2020-03-18",
                      "deaths": 0,
                      "recovered": 1
                    }
                  ],
                  "CPV": [
                    {
                      "confirmed": 0,
                      "date": "2020-03-10",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-11",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-12",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-13",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-14",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-15",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-16",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-17",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-18",
                      "deaths": 0,
                      "recovered": 0
                    }
                  ],
                  "CRI": [
                    {
                      "confirmed": 9,
                      "date": "2020-03-10",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 13,
                      "date": "2020-03-11",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 22,
                      "date": "2020-03-12",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 23,
                      "date": "2020-03-13",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 26,
                      "date": "2020-03-14",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 27,
                      "date": "2020-03-15",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 35,
                      "date": "2020-03-16",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 41,
                      "date": "2020-03-17",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 50,
                      "date": "2020-03-18",
                      "deaths": 0,
                      "recovered": 0
                    }
                  ],
                  "CUB": [
                    {
                      "confirmed": 0,
                      "date": "2020-03-10",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-11",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 3,
                      "date": "2020-03-12",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 4,
                      "date": "2020-03-13",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 4,
                      "date": "2020-03-14",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 4,
                      "date": "2020-03-15",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 4,
                      "date": "2020-03-16",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 5,
                      "date": "2020-03-17",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 7,
                      "date": "2020-03-18",
                      "deaths": 1,
                      "recovered": 0
                    }
                  ],
                  "CYP": [
                    {
                      "confirmed": 3,
                      "date": "2020-03-10",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 6,
                      "date": "2020-03-11",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 6,
                      "date": "2020-03-12",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 14,
                      "date": "2020-03-13",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 26,
                      "date": "2020-03-14",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 26,
                      "date": "2020-03-15",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 33,
                      "date": "2020-03-16",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 46,
                      "date": "2020-03-17",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 49,
                      "date": "2020-03-18",
                      "deaths": 0,
                      "recovered": 0
                    }
                  ],
                  "CZE": [
                    {
                      "confirmed": 41,
                      "date": "2020-03-10",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 91,
                      "date": "2020-03-11",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 94,
                      "date": "2020-03-12",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 141,
                      "date": "2020-03-13",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 189,
                      "date": "2020-03-14",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 253,
                      "date": "2020-03-15",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 298,
                      "date": "2020-03-16",
                      "deaths": 0,
                      "recovered": 3
                    },
                    {
                      "confirmed": 396,
                      "date": "2020-03-17",
                      "deaths": 0,
                      "recovered": 3
                    },
                    {
                      "confirmed": 464,
                      "date": "2020-03-18",
                      "deaths": 0,
                      "recovered": 3
                    }
                  ],
                  "DEU": [
                    {
                      "confirmed": 1457,
                      "date": "2020-03-10",
                      "deaths": 2,
                      "recovered": 18
                    },
                    {
                      "confirmed": 1908,
                      "date": "2020-03-11",
                      "deaths": 3,
                      "recovered": 25
                    },
                    {
                      "confirmed": 2078,
                      "date": "2020-03-12",
                      "deaths": 3,
                      "recovered": 25
                    },
                    {
                      "confirmed": 3675,
                      "date": "2020-03-13",
                      "deaths": 7,
                      "recovered": 46
                    },
                    {
                      "confirmed": 4585,
                      "date": "2020-03-14",
                      "deaths": 9,
                      "recovered": 46
                    },
                    {
                      "confirmed": 5795,
                      "date": "2020-03-15",
                      "deaths": 11,
                      "recovered": 46
                    },
                    {
                      "confirmed": 7272,
                      "date": "2020-03-16",
                      "deaths": 17,
                      "recovered": 67
                    },
                    {
                      "confirmed": 9257,
                      "date": "2020-03-17",
                      "deaths": 24,
                      "recovered": 67
                    },
                    {
                      "confirmed": 12327,
                      "date": "2020-03-18",
                      "deaths": 28,
                      "recovered": 105
                    }
                  ],
                  "DJI": [
                    {
                      "confirmed": 0,
                      "date": "2020-03-10",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-11",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-12",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-13",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-14",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-15",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-16",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-17",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 1,
                      "date": "2020-03-18",
                      "deaths": 0,
                      "recovered": 0
                    }
                  ],
                  "DMA": [
                    {
                      "confirmed": 0,
                      "date": "2020-03-10",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-11",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-12",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-13",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-14",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-15",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-16",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-17",
                      "deaths": 0,
                      "recovered": 0
                    },
                    {
                      "confirmed": 0,
                      "date": "2020-03-18",
                      "deaths": 0,
                      "recovered": 0
                    }
                  ],
                  "DNK": [
                    {
                      "confirmed": 264,
                      "date": "2020-03-10",
                      "deaths": 0,
                      "recovered": 1
                    },
                    {
                      "confirmed": 444,
                      "date": "2020-03-11",
                      "deaths": 0,
                      "recovered": 1
                    },
                    {
                      "confirmed": 617,
                      "date": "2020-03-12",
                      "deaths": 0,
                      "recovered": 1
                    },
                    {
                      "confirmed": 804,
                      "date": "2020-03-13",
[...]
