<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Covid19 API</title>
</head>
<body>
<h1>Covid19 API</h1>

<h3>Thank you for the interest in the project.</h3>

<h4>The documentation for the endpoints along with the Postman collection can be found <a
        href="https://documenter.getpostman.com/view/2568274/SzS8rjbe?version=latest" class="href">here</a>.</h4>
<h4>The project is opensource and the source code is available on <a href="https://github.com/backtrackbaba/covid-api"
                                                                     class="href">GitHub</a></h4>

<h4>Please raise a pull request on <a href="https://github.com/backtrackbaba/covid-api"
                                      class="href">GitHub</a> for any contribution, suggestion or feedback</h4>
</body>
</html>